.map {
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: hidden !important;
  position: relative;
}

.row {
  flex-direction: row;
  display: flex;
}

li {
  padding-left: 10px;
  text-decoration: none;
  list-style-type: none;
}

.tooltipCntr {
  position: absolute;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  bottom: 12px;
  left: -50px;
  z-index: 100;
  min-width: 280px;
}

.tooltip {
  padding: 10px;
  color: white;
  background: #151619;
  box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
  border-radius: 4px;
}

.tooltip:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip:after {
  border-top-color: #151619;
  border-width: 7px;
  left: 48px;
  margin-left: -7px;
}
